section > p {
    font-size: 25px;
    color:rgb(19, 8, 165);
}
header {
    color: green;
}
.pie {
    color:rgb(171, 12, 76);
}

#esterojo {
    color:red;
}
h1 ~ p {

    font-size: 10px;
    color:cyan;
}