#uno {

    font-size: 24px;
    color: brown;
    background-color: rgb(114, 136, 136);
    text-align: right;
}

#dos {
    font: italic bold 14px Arial;
    letter-spacing:5px; 
    background-color: rgba(13, 13, 230, 0.1);  
}

#dos a:link {
    text-decoration: none;
    color:blue;
}
#dos a:visited {
    text-decoration: none;
    color:rgb(80, 204, 78);
}
#dos a:hover {
    text-decoration: none;
    color:rgb(207, 101, 44);
}

#cuatro p{
    font-size: 18px;
    color: #000000;
    text-align:left;
    width:300px;
    height: 150px;
    background-color: rgba(214, 0, 16,0.5);
    overflow: auto;
}