body {
    background-image: url("/fondo.png");
}
#capitulo {
    font: bold 48px Arial, Helvetica, sans-serif;
    color:rgb(123,34,34);
    text-align: center;
    width: 750px;
    margin:60px auto;
    padding:1px 55px;
    border: 4px solid #1a1a1a;
    border-radius:60px;
    box-shadow:10px 10px 15px rgb(65, 39, 39) inset;
    background:-webkit-radial-gradient(center,ellipse,red 10%,white 40%,blue 50%)

}
#texto p {
    font: 20px Arial, Helvetica, sans-serif;
    color:#000080;
    text-align: justify;
    width: 650px;
    margin:10px auto;
    padding: 10px 60px;
    background-color: #ffffff;
    background-image: url("/fondo_lat.png");
    background-repeat: repeat-y;
    
}

#final {
    width: 600px;
    margin: 80px auto;
    text-align: center;
    font: bold 200px Arial,Verdana;
    color:rgb(247, 5, 5);
    text-shadow:-10px -10px 0px black,
    10px -10px 0px black,
    -10px 10px 0px black,
    10px 10px 0px black;
}
#final2 {
    width: 600px;
    margin: 80px auto;
    text-align: center;
    font: bold 200px Arial,Verdana;
    color:rgb(253, 252, 252);
    text-shadow:0px 0px 20px rgb(5, 5, 5)
}
#textoblanco {
    text-align: center;
    border: 4px solid grey;
    font: 20px Arial, Helvetica, sans-serif;
    color:white;
    text-align:justify;
    width:450px;
    height:150px;
    overflow:auto;
    border-radius: 20px 0px 0px 20px;
    margin:10px auto;
    background-color:white;
    text-shadow:0px 0px 4px black;
    background-image: url("/logo_transparente.png");
    background-repeat: no-repeat;
    background-position: center center;

}